.text-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-indent: 1px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
.line_1 {
    width: 260px;
    height: 0px;
    border: 1px solid #FFB701;
    padding: 0;
    margin: 0;
}
.line_2 {
    width: 83px;
    height: 0px;
    border: 1px solid #FFB701;
    padding: 0;
    margin: 0;
}
.list-group-item {
    border: none !important;
    text-align: center;
}
.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}
.card.pricing .card-head .price {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.img-java-diagram{
    margin-top: 70px;
    margin-bottom: 100px;
}
.span-java, .span-java-1, .span-java-2, 
.span-java-3, .span-java-4, .span-java-5,
 .span-java-6{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-indent: 1px;
    color: #000000;
    background: #F6B940;
    border-radius: 50px;        
    position: absolute;        
}
.span-java{
    top: 10px;
    left: 35px;
    padding: 15px;
}
.span-java-1{
    top: 150px;
    left: -30px;
    padding: 15px;
}
.span-java-2{
    top: 285px;
    left: -30px;
    padding: 15px 55px;
}
.span-java-3{
    top: 430px;
    left: 80px;
    padding: 15px 55px;
}
.span-java-4{
    top: 55px;
    left: 113px;
    padding: 15px 20px;
}
.span-java-5{
    top: 200px;
    right: -13px;
    padding: 15px 40px;
}
.span-java-6{
    top: 357px;
    right: 5px;
    padding: 15px 40px;
}

.java-line-1, .java-line-2, .java-line-3, .java-line-4, .java-line-5,
.java-line-6, .java-line-7, .java-line-8, .java-line-9, .java-line-10,
.java-line-11, .java-line-12, .java-line-13, .java-line-14{
    position: absolute;      
    width: 69.06px;
    height: 0px;
    border: 1px solid #F6B940;        
}
.java-line-1{       
    top: 64px;
    right: 32px;
    transform: matrix(0.99, 0.53, -0.13, 0.91, 0, 0);
}
.java-line-2{        
    top: 60px;
    right: 30px;  
    transform: matrix(0.99, 0.53, -0.13, 0.91, 0, 0);
}
.java-line-3{       
    top: 165px;
    right: 50px;
    transform: matrix(1, 0.09, -0.08, 1, 0, 0);
}
.java-line-4{        
    top: 160px;
    right: 50px;  
    transform: matrix(1, 0.09, -0.08, 1, 0, 0);
}
.java-line-5{       
    top: 290px;
    right: 50px;
    transform: matrix(0.97, -0.19, 0.24, 0.98, 0, 0);
}
.java-line-6{        
    top: 285px;
    right: 50px;  

    transform: matrix(0.97, -0.19, 0.24, 0.98, 0, 0);
}
.java-line-7{       
    top: 408px;
    right: -10px;
    transform: matrix(0.68, -0.63, 0.87, 0.66, 0, 0);
}
.java-line-8{        
    top: 400px;
    right: -10px;  
    transform: matrix(0.68, -0.63, 0.87, 0.66, 0, 0);
}
.java-line-9{        
    top: 104px;
    left: 30px;  
    transform: matrix(0.74, -0.7, 0.66, 0.73, 0, 0);
}
.java-line-10{        
    top: 100px;
    left: 27px;  
    transform: matrix(0.74, -0.7, 0.66, 0.73, 0, 0);
}
.java-line-11{        
    top: 220px;
    left: 50px;  
    transform: matrix(0.98, -0.18, 0.17, 0.98, 0, 0);
}
.java-line-12{        
    top: 225px;
    left: 50px;  
    transform: matrix(0.98, -0.18, 0.17, 0.98, 0, 0);
}
.java-line-13{        
    top: 326px;
    left: 37px;  
    transform: matrix(0.94, 0.36, -0.33, 0.93, 0, 0);
}
.java-line-14{        
    top: 330px;
    left: 30px;  
    transform: matrix(0.94, 0.36, -0.33, 0.93, 0, 0);
}
.banner-url{        
    height: 583px;
    vertical-align:top;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/service/banner-net2.jpg");

}
.col-md-4 {
    width: 33.333333333%!important;
}
.banner-url .text-span-java,
.banner-url .text-h1-java {
    color: #000 !important;
}

.text-h1-java{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    text-indent: 1px;
    color: #fff;
    margin-left: 3%;
    margin-top: 15%;
    letter-spacing: 2px;
}
.text-span-java{
    font-family: Roboto;
    font-style: normal;
    color: #fef8ef;
    font-size: 20px;
    line-height: 33px;
    margin-top: 4%;
    margin-left: 3%;
    letter-spacing: 0.7px;
}
.framework-url{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.net_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-indent: 1px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}